{
  "influxdb": {
    "host": "http://INFLUX_URL:8086",
    "token": "XXXXXXXXXXXXXXXXXXXXXXXXXXXX_AUTH_TOKEN_XXXXXXXXXXXXXXXXXXXXXXXXXXX",
    "org": "ORG_NAME"
  },
  "arma3": {
    "refreshRateMs": 1000,
    "debug": true
  },
  "recordingSettings": {
    "serverPolling": {
      "serverPerformance": {
        "enabled": true,
        "useWith": [
          "server",
          "headlessClient"
        ],
        "runOnServer": true,
        "runOnHeadlessClient": true,
        "monitorIntervalInSeconds": 1,
        "bucket": "performance",
        "measurement": "server_performance",
        "description": "Host or Headless Client performance. Tracks average and minimum FPS.",
        "filePath": "functions/capture/server_performance.sqf"
      },
      "userPerformance": {
        "enabled": true,
        "useWith": [
          "server"
        ],
        "runOnServer": true,
        "monitorIntervalInSeconds": 3,
        "bucket": "network",
        "measurement": "user_network",
        "description": "User network performance. Tracks average ping, average bandwidth, and desync.",
        "filePath": "functions/capture/player_performance.sqf"
      },
      "runningScripts": {
        "enabled": true,
        "useWith": [
          "server",
          "headlessClient"
        ],
        "runOnServer": true,
        "runOnHeadlessClient": true,
        "monitorIntervalInSeconds": 3,
        "bucket": "performance",
        "measurement": "running_scripts",
        "description": "Count of running scripts obtained via . Tracks the number of scripts running on the server and headless client.",
        "filePath": "functions/capture/running_scripts.sqf"
      },
      "runningMission": {
        "enabled": true,
        "useWith": [
          "server"
        ],
        "runOnServer": true,
        "monitorIntervalInSeconds": 300,
        "bucket": "mission_data",
        "measurement": "mission_name",
        "description": "Tracks the name of the mission running on the server.",
        "filePath": "functions/capture/running_mission.sqf"
      }
    }
  }
}