{
  "influxdb": {
    "host": "http://host:8086",
    "token": "my-token",
    "org": "ranger-metrics"
  },
  "timescaledb": {
    "connectionUrl": "postgresql://postgres:password@host:5432",
    "databaseName": "ranger_metrics",
    "description": "TimescaleDB is an open-source time-series database built on Postgres. Please leave the final section of the connection URL as 'postgres' as this is the maintenance database name. The extension will connect here first and create the database with desired name, then shift connections to the newly created database to create the schema and conduct write operations."
  },
  "arma3": {
    "refreshRateMs": 1000
  }
}